API_URL=https://api.open-meteo.com/v1/forecast

KAFKA_TOPIC=weather_transformed
KAFKA_BROKER=

JUPYTER_ENABLE_LAB=yes
JUPYTER_PORT=
LOCALHOST_JUPYTER_PORT=

ZOOKEEPER_CLIENT_PORT=

KAFKA_PORT=
LOCALHOST_KAFKA_PORT=

KAFKA_ZOOKEEPER_CONNECT=
KAFKA_LISTENERS=
KAFKA_ADVERTISED_LISTENERS=
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1

LOCALHOST_SPARK_MASTER_PORT=
SPARK_MASTER_PORT=

SPARK_MASTER_URL=

LOCALHOST_SPARK_UI_PORT=
SPARK_UI_PORT=

LOCALHOST_SPARK_WORKER_UI_PORT=
SPARK_WORKER_UI_PORT=

LOCALHOST_AIRFLOW_UI_PORT=
AIRFLOW_UI_PORT=

LOCALHOST_NAMENODE_UI_PORT=
NAMENODE_UI_PORT=
NAMENODE_URL=
NAMENODE_CORE_CONF_fs_defaultFS=

LOCALHOST_RPC_HDFS_PORT=
RPC_HDFS_PORT=

LOCALHOST_WEB_HDFS_PORT=
WEB_HDFS_PORT=

AIRFLOW__WEBSERVER__WEB_SERVER_HOST=
LOCALHOST_AIRFLOW__WEBSERVER__WEB_SERVER_PORT=
AIRFLOW__WEBSERVER__WEB_SERVER_PORT=
AIRFLOW_UID=

SPARK_PY_SCRIPT=
SPARK_MASTER_CONTAINER_NAME=